@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main h1 {
  margin-top: 0px;
  font-family: 'Concert One', cursive;
}
.content form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.content form input[type='text'],
.content form select {
  padding: 7px;
  width: 220px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #402d21;
}
.content form button {
  padding: 7px;
  width: 220px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #402d21;
  font-weight: bold;
  border-radius: 5px;
  background-color: #9783bd;
  box-shadow: 0px 0px 3px #402d21;
}
.autoClose {
  gap: 10px;
  display: flex;
  align-items: center;
}
